@{
	double t_0 = 0;
	double t_end = 100;
	double h = 0.1;
	int N = Convert.ToInt32((t_end-t_0)/h) + 1;//toInt
	double [] T = new double [N];
	double [] X = new double [N];
	String data = "";
	bool showChart = false;
	if(IsPost)
	{
		showChart = true;
		var num = Request["text1"];
		double z_0 = 0;
		double z_d = num.AsInt();
		double k1 = 1;
		double k2 = 1;
		//delegate double TestDelegate(double t,double X1,double X2);
		//TestDelegate f1 = (t,X1,X2) =>{X2} 
		//TestDelegate f2 = (t,X1,X2) =>{-k1*X1-k2*X2+k1*z_d}
		T[0] = t_0;
		double X_1 = 0;
		double X_2 = 0;
		for(int i = 0;i<N;++i)
		{
			T[i] = t_0 + h*i;
			double t = T[i];
			//doubel k11 = ((t,X1,X2) =>{X2})(t,X_1,X_2);
			//doubel k12 = ((t,X1,X2) =>{-k1*X1-k2*X2+k1*z_d})(t,X_1,X_2);
			//doubel k21 = ((t,X1,X2) =>{X2})(t,X_1,X_2)(t+h/2	,X_1+h/2*k11	,X_2+h/2*k12);
			//doubel k22 = ((t,X1,X2) =>{-k1*X1-k2*X2+k1*z_d})(t+h/2	,X_1+h/2*k11	,X_2+h/2*k12);
			//doubel k31 = f1(t+h/2	,X_1+h/2*k21	,X_2+h/2*k22);
			//doubel k32 = f2(t+h/2	,X_1+h/2*k21	,X_2+h/2*k22);
			//doubel k41 = f1(t+h	,X_1+h*k31	,X_2+h*k32);
			//doubel k42 = f2(t+h	,X_1+h*k31	,X_2+h*k32);
			//X_1 += h/6*(k11+2*k21+2*k31+k41);
			//X_2 += h/6*(k12+2*k22+2*k32+k42);
			
			double currX_1 = X_1 + h* X_2;
			double currX_2 = X_2 + h*(-k1*X_1-k2*X_2+k1*z_d);
			
			X_1 = currX_1;
			X_2 = currX_2;
			
			X[i] = X_1;
			data += "[" +T[i]+"," + X[i]+"]";
			if(i<N-1)
			{
				data+=",";
			}
		}
	}
}


<html>
  <head>
  	<meta charset="utf-8">
	<title>MathBox Test</title>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Height'],
          @for(var i = 0; i < @N-1; ++i)
    		{
&iexcl

    		 @(T[i]) 

    		 @(X[i])
    		]
    		}
    		 @(T[@N-1]) 
        ]);

        var options = {
          title: 'Quadrocopter Position',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  	<form action="" method="post">
		<p><label for="text1">Input Height</label><br>
			<input type="text" name="text1" /></p>
		<p><input type="submit" value=" OK " /></p>
	</form>
	@if (showChart)
	{
		<div id="curve_chart" style="width: 900px; height: 500px"></div>
	}
	else
	{
		<p></p>
	}
  </body>
</html>
