@{
	double t_0 = 0;
	double t_end = 100;
	double h = 0.1;
	int N = Convert.ToInt32((t_end-t_0)/h) + 1;//toInt
	double [] T = new double [N];
	double [] X = new double [N];
	if(IsPost)
	{
		delegate void TestDelegate(double t,double X1,double X2);
		
		var num = Request["text1"];
		double z_0 = 0;
		double z_d = num.AsInt();
		double k1 = 1;
		double k2 = 1;
		TestDelegate f1 = (t,X1,X2) =>{X2} 
		TestDelegate f2 = (t,X1,X2) =>{-k1*X1-k2*X2+k1*z_d}
		T[0] = t_0;
		X_1 = 0;
		X_2 = 0;
		for(int i = 0;i<N;++i)
		{
			T[i] = t_0 + h*i;
			double t = T[i];
			doubel k11 = f1(t,X_1,X_2);
			doubel k12 = f2(t,X_1,X_2);
			doubel k21 = f1(t+h/2	,X_1+h/2*k11	,X_2+h/2*k12);
			doubel k22 = f2(t+h/2	,X_1+h/2*k11	,X_2+h/2*k12);
			doubel k31 = f1(t+h/2	,X_1+h/2*k21	,X_2+h/2*k22);
			doubel k32 = f2(t+h/2	,X_1+h/2*k21	,X_2+h/2*k22);
			doubel k41 = f1(t+h	,X_1+h*k31	,X_2+h*k32);
			doubel k42 = f2(t+h	,X_1+h*k31	,X_2+h*k32);
			X_1 += h/6*(k11+2*k21+2*k31+k41);
			X_2 += h/6*(k12+2*k22+2*k32+k42);
			X[i] = X_1;
		}
	}
}

<html>
<head>
	<meta charset="utf-8">
	<title>MathBox Test</title>
</head>
<body>
	<form action="" method="post">
		<p><label for="text1">First Number:</label><br>
			<input type="text" name="text1" /></p>
		<p><input type="submit" value=" Add " /></p>
	</form>
	<form action="" method="post">
<p><label for="text1">First Number:</label><br>
<input type="text" name="text1"></p>

<p><input type="submit" value=" Add "></p>
</form>
	
	<script type="text/javascript">
	google.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Year', 'Sales'],
			@for (int i = 0;i<@N - 1;++i)
			{
				[@T[i],@X[i]],
				
			}
			['@T[@N - 1]',@X[@N - 1]]
		]);

		var options = {
			title: 'Company Performance',
			curveType: 'function',
			legend: { position: 'bottom' }
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

		chart.draw(data, options);
	}
    </script>
</body>
</html>
