@{

var txt = DateTime.Now; //  C#
int m = 1;
int b = 1;
double t_0 = 1;
double t_end = 100;
double z_0 = 0;
double z_d = 10;
double t1 = t_0;
double t2 = t_end;
double h = 0.1;
double width = 0.05;


}
<html>
	<body>
		<p>The dateTime is @txt</p>
	</body>
</html>
